.branchBox{
    padding: 20px;
    border-bottom: 1.5px solid black;
    border-top: 1.5px solid black;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
font-weight: bold;
transform: translateY(-3%);
}
.branchName{
    cursor: pointer;
}