.box {
  margin: 0px 3px;
  border: 1.5px solid black;
  height: 95vh;
}

.header {
  text-align: center;
  background-color: black;
  padding: 10px 0px;
  color: white;
  font-size: large;
}
.leftPanel {
  display: inline-block;
  width: 40%;
  border-right: 1.5px solid black;
  height: 92%;
}
.rightPanel {
  display: inline-block;
  width: 59%;
  /* border: 1.5px solid red; */
  height: 87%;
  position: absolute;
}
.addBtn {
  position: absolute;
  bottom: 40px;
  left: 20px;
  padding: 10px 13px;
  border-radius: 20px;
  background-color: #FFE6CC;
  border: 1.5px solid #F3D091;
  cursor: pointer;
}
